# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/*
!.idea/inspectionProfiles
!.idea/stylesheetLinters
!.idea/symfony2.xml
!.idea/jsLinters
.idea/jsLinters/*
!.idea/jsLinters/jshint.xml
nbproject/

# App config
/app/config/parameters.yml

# Generated folders
/assets/
/files/
/system/
/var/
/vendor/
/web/*
.htaccess
composer.phar
gulp.config.js
/node_modules/
/app/Resources/contao/config/runonce*.php
/app
composer.lock
package-lock.json

# Ioncube
/ioncube/encoded

# Contao Manager
/contao-manager/

# Ausßnamhen
#!/web/layout/
/.env.local
/webpack.config.browsersync.js